:root {
  --veryDarkBlue: #eae3d2;
  --blue: #607eaa;
  --mint: #1c3879;
  --blue1: #a0b2cc;
  /* 
  --veryDarkBlue: #001328;
  --lightBlue: #256d85;
  --blue: #2b4865;
  --mint: #8fe3cf; */
}

body {
  margin: 0;
  max-width: 100%;
  margin-top: 10vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background: var(--veryDarkBlue);
  color: black;
}

.pageProject {
  width: 100%;
}

.projectTitle {
  text-align: center;
}

.homePage {
  text-align: left;
  margin-left: 10vw;
  width: 100%;
  height: 100vh;
  margin-top: 20vh;
}

.homePageParagraph {
  margin-top: 40px;
}

.title {
  display: inline !important;
}

.titleName {
  color: var(--mint);
  font-size: 36pt;
  margin-top: 10px;
  margin-left: -3px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  /* margin-top: 36px; */
}

.blue-background {
  background-color: var(--blue1);
}

.bgCliff {
  display: none;
}

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 10vh;
}


@media screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .homePage {
    text-align: left;
    margin-left: 10vw;
    width: 30%;
    height: 100vh;
    margin-top: 20vh;
  }
  .bgCliff {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -30;
    width: 100%;
    background-size: cover;
  }

  .page {
    width: 60%;
  }
  .grid-container {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .page {
    margin: 10vh auto;
  }
  .pageProject {
    margin: 10vh auto;
    width: 80%;
  }
  
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.projectHover {
  min-width: 50%;
  box-shadow: 1px 1px 8px black;
  text-align: center;
  padding: 1.5em;
  /* background-color: var(--white); */
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectHover:hover {
  box-shadow: 0 8px 16px 0 black;
  /* position: absolute; */
  overflow: hidden;
}

.projectImagePage {
  object-fit: cover;
  max-width: 20vw;
  max-height: 150px;
  border-radius: 16px;
}

.projectImageDetails {
  object-fit: cover;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  height: 30vh;
  border-radius: 16px;
}

/* .grid-container > article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
} */

#skillLogo {
  color: var(--mint);
  margin-right: 10px;
}

/*---------- TIMELINE STYLING ----------*/

/* Card container */
.card {
  position: relative;
  max-width: 100%;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid var(--mint);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -5px;
  bottom: -5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  /* background: #333; */
  /* color: gray; */
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.cardTitle {
  color: var(--mint);
  text-align: left;
  position: relative;
  font-size: 20pt;
}

.cardDesc {
  text-align: center;
}

/* Timeline dot  */
.cardTitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid var(--mint);
  top: 8px;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .cardTitle {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .cardTitle::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .cardTitle::before {
  right: -45px;
}

/*---------- END OF TIMELINE STYLING ----------*/

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 95%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: var(--mint);
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 3s infinite;
  -webkit-animation: arrow 3s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

.pLinebreak {
  white-space: pre-line;
}
