:root {
  --leaf: #5cdb95;
  --darkBlue: #05386b;
  --lightLeaf: #b6dbaf;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Montserrat", sans-serif;
  background: url("../images/bg-green.svg") no-repeat;
  background-size: 100%;
}

/* PAGE styling */

.page {
  text-align: center;
  width: 80%;
  margin: 4rem auto;
}

.title {
  font-size: 36pt;
}

@media screen and (max-width: 1000px) {
  body {
    /* background: url("../images/bg-green-mobile.svg") no-repeat; */
    background: linear-gradient(var(--leaf) 0%, var(--lightLeaf) 100%);
    background-attachment: fixed; /*fill screen*/
  }
  .page {
    margin: 2rem auto;
  }
}