:root {
  --leaf: #5cdb95;
  --darkBlue: #05386b;
  --lightLeaf: #b6dbaf;
  --lightOrange: #fa7a02;
  --darkOrange: #c51515;
}

.socialBar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.socialIcon {
  font-size: 20pt;
  padding: 30px 30px;
  color: var(--lightOrange);
}

.motionDiv {
  display: inline-block;
}
